{% extends 'public/base.html.twig' %}

{% block title %}
    Go gym | Recherche
{% endblock %}

{% block intro %}

    {{ include('shared/_indexintro.html.twig', { indexTitle : "Votre recherche", indexDescription:  '  ' }) }}

    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form.q, {'attr': {'class': 'form-check ms-2 mb-2', 'placeholder': 'Recherche par mot-clef...'}}) }}

            {{ form_label(form.categories, 'Filtrer par catégorie',{'label_attr': {'class': 'form-label d-inline-block ms-2 mb-2 text-dark-emphasis'}}) }}
            {% for checkbox in form.categories.children %}
                <div class="d-inline-block justify-content-start text-dark-emphasis ms-3">
                    {{ form_label(checkbox) }}
                    {{ form_widget(checkbox) }}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-end me-2">
                <button class="btn btn-outline-dark mx-2" type="submit">Filtrer <i class="bi bi-search"></i></button>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block body %}
    {% if posts is not empty%}
    <div class="container my-5">
        <div class="row">
            {% for post in posts %}
                {{ include('shared/_postcard.html.twig', { post: post }) }}
            {% endfor %}
        </div>
        <div class="navigation d-flex justify-content-center small mb-5">
            {{ knp_pagination_render(posts, 'shared/bootstrap_v5_pagination.html.twig') }}
        </div>
    </div>
    {% else %}
        <div class="container my-5">
            <div class="row">
                <p>Votre recherche n'a donné aucun résultat.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}