{% extends 'public/base.html.twig' %}

{% block search %}
    {% include 'shared/_search_data.html.twig' with {form: form} only %}
{% endblock %}

{% block title %}
    Go gym | {{ post.title }}
{% endblock %}

{% block intro %}
    <div class="container">
        <a class="text-dark text-decoration-none" href="{{ post.category.id == 1 ? path('public.news.index') : path('public.diets.index') }}"><-</a>
        <span>{{ post.category.id == 1 ? "Les dernières news !" : "Du nouveau côté nutrition !" }}</span>
        <h1>{{ post.title | capitalize }}</h1>
        <p>{% for tag in post.tags %}<span class="bg-primary-subtle">#{{ tag.label | capitalize }}</span>{% endfor %}
        </p>
        <div class="row text-center">
            {% include "shared/_share.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5">
        <div class="row my-5">
            {{ post.content }}
        </div>
        <div class="row text-end">

            <small>Publié le {{ post.createdAt | date('d/m/Y') }}</small>
        </div>
        <hr>
    </div>

    {#<div class="container my-5">
        {% if post.comments %}
            {% for comment in comments %}
                <div class="row border rounded p-2 mx-5 my-4">
                    <h6 class="text-decoration-underline">{{ comment.title | capitalize }}</h6>
                    <p class="small">{{ comment.content }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                Soyez le premier à réagir !
            </div>
        {% endif %}
    </div>#}

{% endblock %}