{% extends 'public/base.html.twig' %}

{% block title %}
    Go gym | S'enregistrer
{% endblock %}

{% block intro %}
    <div class="container d-block-flex justify-content-center w-25">
    <h1>S'enregistrer</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div>
            <button type="submit" class="btn btn-lg btn-outline-primary my-2 d-block">S'enregistrer</button>
            <a href="{{ path('login') }}" class="border-0 btn btn-sm btn-outline-dark px-3" role="button">Déjà inscrit(e) ?</a>
        </div>

    {{ form_end(registrationForm) }}
    </div>
{% endblock %}

