{% extends 'public/base.html.twig' %}

{% block title %}Go gym | Se connecter{% endblock %}

{% block intro %}
    <div class="container d-block-flex justify-content-center w-25">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control my-1"
                   autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control my-1"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="checkbox my-2">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <div>
                <button class="btn btn-lg btn-outline-primary my-2 d-block" type="submit">
                    Connexion
                </button>
                <a href="{{ path('app_register') }}" class="border-0 btn btn-sm btn-outline-dark" role="button" >
                    Pas encore inscrit(e) ?
                </a>
            </div>


            {% if app.user %}
                <div class="border border-primary-subtle rounded my-3 p-2">
                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}, <a
                            href="{{ path('app_logout') }}">Se déconnecter ?</a>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block body %}

{% endblock %}

